[Unit]
Description=Email Verifier API Service
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/Email-Verifier
Environment="PATH=/home/ec2-user/Email-Verifier/venv/bin"
Environment="PORT=5000"
ExecStart=/home/ec2-user/Email-Verifier/venv/bin/gunicorn app:app --bind 0.0.0.0:5300 --workers 4 --timeout 60
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
